dl.dataset-meta-data, dl.project-meta-data {
	width:100%;
 	overflow:hidden;
 	margin: 1rem 0 1rem 0 !important;
}
dl.dataset-meta-data dt, dl.project-meta-data dt {
	float:left;
	width:40%;
}
dl.dataset-meta-data dd, dl.project-meta-data dd {
	float:left;
	width:60%;
	margin-bottom: 5px;
}

dl.dataset-meta-data span.dd-block, dl.project-meta-data span.dd-block {
	display:block;
}